media/*
bsuapi/media/*
*.pyc
.idea
.idea/misc.xml
.idea/bsuapi.iml
.idea/workspace.xml
.DS_Store
*.rdb
*/.cache
*.swp
*.dump
staticfiles/*
db.sqlite3
celerybeat-schedule
celerybeat.pid
logs/*
.credentials/drive-python-quickstart.json
client_secret.json
cloudvision.json
*.pdf
*.envrc
*.python-version
